.volleyballnews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 250px;
    max-width: 1200px;
    margin: 0 auto;
}

.volleyballnews-title {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

.vnaftertitle {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.textweb {
    margin-bottom: 20px;
}

.volleyballnews-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vn-image-grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.vn-image-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-item img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.news-item h2 {
    margin: 0 0 10px;
}

.news-item p {
    margin: 0;
    line-height: 1.5;
    margin-bottom: 10px;
}