.navbar {

    background-color: #131313;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar img.logo {
    max-width: 75px;
    height: auto;
}

.navbar a {
    color: #f2f2f2;
    text-align: left;
    padding: 20px 30px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #e7e7e7;
    color: black;
}

.navbar-text {

    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}